.help-block {
	display: none;
}

.has-error .help-block {
	display: block;
}

.btn.btn-icon {
	font-size: 20px;
	margin: 0;
}

.btn.btn-icon:hover {
	color: #009dc7;
}

#add-stop-new-club {
	display: block;
	color:#000;
	background-color: green;
	z-index: 1000000000000;
}